<!-- Keynote Modals -->
{% for member in site.labmembers %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- member Details Go Here -->
                <h3 class="text-uppercase"><img class="mx-auto rounded-circle" src="{{ member.image }}" style="max-width: 75px; max-height: 75px;" alt="">  {{ member.title }}</h3>
                <p class="item-intro text-muted">{{ member.subtitle }}</p>
				        <p>{{ member.content }}</p>		
                
                <h4>Publications:</h4>
                <p class="publ1" id="pub{{ forloop.index }}"></p>
                
                <script src="assets/js/publications.js"></script>
                <script>updateMemValue("{{ member.pubmed }}","pub{{ forloop.index }}")</script>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext.keynote.closebutton | default: "Close Description" }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
<!-- End Keynote Modals -->