<!-- project Modals -->
{% for project in site.projects %}
  <div class="portfolio-modal modal fade" id="pj{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- member Details Go Here -->
                <h3 class="text-uppercase">{{ project.title }}</h3>
                <h3 class="text-uppercase">{{ project.start-year }} to {{ project.end-year }}</h3>
                <h4>Project Participants:</h4>
                {% for author in project.authors %}
                <p class="item-intro text-muted">{{ author.name }}</p>
                {% endfor %}
                {%- if project.collaborators -%}
                <h4>Collaborators:</h4>
                {% for author in project.collaborators %}
                <p class="item-intro text-muted">{{ author.name }}</p>
                {% endfor %}
                {%- endif -%}
                <p>{{ project.content }}</p>	
                
                <div>
                  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ project.link }}">Link to funding agency!</a>
                  <p> </p>	
                </div>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  "Close project description!"</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
<!-- End project Modals -->