<!-- About -->
<!DOCTYPE html>

<section id="{{ site.data.sitetext.publications.section | default: 'publications' }}" class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.publications.title | default: "Publications" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.publications.text | default: "" }}</h3>
          <p class = "publ" id="pubs"></p>
        </div>
          <div id="test"></div>
        </div>
    </div>
    <script src="assets/js/publications.js"></script>
  </section>
<!-- End About -->
