<!-- resources -->
  <section class="page-section" id="{{ site.data.sitetext.resources.section | default: "resources" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.resources.title | default: "Resources" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.resources.text | default: "" }}</h3>
          <div class="row">
          <div class="col-sm-12">
            <!-- code for news goes here -->
            <div>
            <div class="row">
              {% for resource in site.data.sitetext.resources.types %}
                  <div class="col-md col-sm-11 portfolio-item effect1">
                      <a href="{{ resource.page }}" class="portfolio-link">
                          <img src="{{ resource.image }}" class="img-fluid grid-img" alt="">
                      <div class="portfolio-caption">
                      <h4>{{ resource.title }}</h4>
                      <p class="text-muted">{{ resource.subtitle }}</p>
                      </div>
                      </a>
                  </div>
              {% endfor %}
              </div>
          </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End resources -->