<!-- social -->
  <section class="page-section" id="{{ site.data.sitetext.social.section | default: "social" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.social.title | default: "LBR on Social Media" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.social.text | default: "" }}</h3>
          <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/DWagnerLab?ref_src=twsrc%5Etfw">Tweets by DWagnerLab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>
<!-- End social -->