// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.publ {
  height: 400px;
  overflow: scroll;
}
.publ1 {
  height: 300px;
  overflow: scroll;
}

.scroll-div {
  height: 400px;
  overflow: scroll;
}
.scroll-div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-div::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.scroll-div::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scroll-div::-webkit-scrollbar-thumb:hover {
  background: #555; 
}